.home-article-principal {
  text-align: center;
  background-color: pink;
}
.home-inside {
  background-color: pink;
  margin-top: -30px;
  margin-bottom: 150px;
  margin-right: 60px;
  margin-left: 60px;
}
.home-view__logo {
  height: 80px;
  background-color: pink;
}
.home-view__header {
  background-color: #000;
  margin-bottom: 0;
  width: 100%;
  height: 80px;
  padding: 5px;
}

.home-view__title {
  text-align: left;
}
.home-title {
  text-align: left;
  color: white;
  font-size: 100px;
}
.home-pre-title {
  text-align: left;
  color: black;
  font-size: 30px;
}
.text {
  color: white;
  font-style: bold;
}
.home-text {
  text-align: left;
  color: black;
  font-size: 20px;
  font-style: bold;
}

.SearchForm-wrapper {
  display: flex;
}
input {
  width: 150%;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.button_is_info {
  width: 150%;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.home-view__favourites {
  text-align: left;
}
.home-view__nav {
  text-align: left;
}
.home-view__footer {
  background-color: #000;
  width: 100%;
  height: 80px;
}
#links {
  color: white;
}
